.requestPageContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.requestFormContainer{
    width: 50%;
    margin: 40px;
}

.reportImage{
    width: 50%;
    height: 100%;
    margin: 40px;
}