.container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;

  .filtersWrapper {
    min-width: 332px;
    margin-right: 20px;

    .titleItemContainer {
      margin-top: 12px;
      margin-bottom: 0px;

      .filterTitleParagraph {
        margin-bottom: 0px;
      }

      .selectFilter {
        width: 100%;
      }
    }
  }

  .contentWrapper {
    flex-grow: 1;

    .empltyIssuesList {
      
    }
  }
}
