.navbarContainer{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    max-height: 62px;
    height: 100%;
    background-color: white;
}

.brandLogoHeader{
    height: 100%;
    font-size: 32px;
color: black;
}