.navbar {
  background-color: white;
  width: 100vw;
  margin: 0;

  .navbarContainer {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    height: 62px;
    background-color: white;

    .rightContent {
      height: 100%;
      display: flex;
      align-items: center;

      .email {
        font-size: 16px;
        font-weight: 500;
      }

      .logoutButton {
        margin-left: 20px;
      }
    }
  }
}

@media screen and (max-width:720px) {
  .email{
    font-size: 12px;
  }

  .logoutButton{
    margin-left: 12px;
  }

}
@media screen and (max-width:460px) {
  .email{
    display: none;
  }

  .logoutButton{
    margin-left: 8px;
  }
  
}
