.contentContainer{
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginFormContainer{
    min-width: 400px;
}

.loadingSpin{
    position: absolute;
    margin: 50%;

}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signInButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.formSubmitButton{
    margin-right: 12px;
}