.wrapper {
  background-color: white;

  .header {
    padding: 16px 24px;
    border-bottom: 1px solid #dbdbdb;
    position: relative;
    cursor: pointer;

    .statusIndicator {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 4px;
    }

    .headerTop {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4px;

      .headerTopLeft {
        display: flex;
        @media screen and (max-width: 400px) {
          flex-direction: column;
          align-items: flex-start;
        }
        .priority {
          margin-right: 16px;
          font-weight: 500;
          font-size: 14px;
        }
        .createdAt {
          font-size: 14px;
          color: #aaaaaa;
        }
      }
      .headerTopRight {
      }
    }
    .headerBottom {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      
      .title {
        font-size: 18px;
        line-height: 120%;
        font-weight: 500;
      }
      .reporterEmail {
        color: #aaaaaa;
        white-space: nowrap;
      }
    }
  }
  .body {
    padding: 16px 24px 20px 32px;
    border-bottom: 1px solid #dbdbdb;

    .descriptionWrapper {
      padding: 16px 16px 16px 20px;
      position: relative;
      margin-bottom: 20px;
      line-height: 125%;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 4px;
        background-color: #dbdbdb;
        border-radius: 2px;
      }
    }

    .bodyFooter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 520px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .bodyFooterLeft {
      }
      .bodyFooterRight {
        display: flex;
        flex-direction: row;

        @media screen and (max-width: 520px) {
          display: flex;
          flex-direction: column;
        }

        .footerRightItemWrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 12px;

          // @media screen and (max-width:900px) {
          //   flex-direction: column;
          // }

          @media screen and (max-width: 500px) {
            margin-top: 8px;
            margin-left: 0;
          }

          .footerItemText {
            margin: 0;
            padding: 0;
          }
        }

        .selects {
          margin-left: 8px;
          min-width: 120px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .bodyFooter {
    flex-direction: column;
    justify-content: left;
  }
  .bodyFooterRight {
    display: flex;
    flex-direction: column;
  }
  .footerRightItemWrapper {
    display: flex;
    flex-direction: column;
  }
}
